# Raw and final data
data/
results/
maps/
scenarios/

# slurm scripts for parallelization of tasks
slurm/

# Compiled objects
src/bin/
src/objs/

# CLion
.idea/
CMakeLists.txt
cmake-build-debug/
/cmake-build-debug-wsl/

# Virtual env
wvenv/
venv/
